# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.next-app.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dina\demo\next-app\.idea\.idea.next-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
